<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center align-items-lg-start">
        <c-col md="6">
          <span class="clearfix">
            <c-card style="border-radius: 10px;  box-shadow: 0 10px 6px -6px #777; margin-top: -77px;" >
                <c-header>
                    <h5 class="float-start display-3 d-flex justify-content-center" style="font-size: 20px; font-weight: bolder; font-family: Arial, Helvetica, sans-serif">Recuperar Contraseña</h5>
                </c-header>
                <c-card-body>
                    <form [formGroup]="form" (ngSubmit)="send()">
                        <c-row>
                            <c-col md="12">
                                <label>Correo Electronico</label>
                                <p></p>
                                <c-input-group class="input-prepend">
                                    <input formControlName="correo" [class.is-invalid]="campoCorreo.invalid && campoCorreo.dirty" cFormControl type="text" />
                                    <div class="invalid-feedback" *ngIf="campoCorreo.hasError('required')">Correo es requerido</div>
                                    <div class="invalid-feedback" *ngIf="campoCorreo.hasError('email')">Formato invalido</div>
                                </c-input-group>

                            </c-col>
                            <p></p>
                            <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
                            <c-col md="12" class="d-flex justify-content-center">
                                <button cButton type="submit" class="px-4" color="primary" [disabled]="form.invalid || isSend">
                                    <span *ngIf="!isSend">Enviar Correo</span>
                                    <span *ngIf="isSend"><i class="fas fa-spinner fa-spin"></i></span>
                                </button>
                            </c-col>
                        </c-row>
                    </form>
                </c-card-body>
            </c-card>
          </span>
        </c-col>
      </c-row>
    </c-container>
  </div>
  