<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <div class="clearfix">
          <h1 class="float-start display-3 me-4">403</h1>
          <h4 class="pt-3">Oops! Pagina no autorizada.</h4>
          <p class="text-medium-emphasis float-start">
            comuniquese con su administrador para abilitar esta pagina
          </p>
        </div>
        <div class="d-grid gap-2">
          <button cButton color="primary" routerLink="/dashboard">Regresar</button>
          </div>
      </c-col>
    </c-row>
  </c-container>
</div>
