
.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
    font-size: 12px !important;
    text-transform: uppercase;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}