
<div class="d-flex justify-content-center mt-5">
    <p-panel header="Nueva Contraseña" [toggleable]="true" [style]="{'width': '25rem', 'margin-bottom': '2em',
    'box-shadow': '0 10px 6px -6px #777',
    'background-color': '#dee2e6'
    }">
        <p-message severity="success" [style]="{'font-size': '12px'}" text="Por favor crea una nueva contraseña que no usas en ningún otro sitio" styleClass="mr-2"></p-message>  
        <p></p>
        <p></p>
        <div class="card">
            <div class="card-body">
                <form  [formGroup]="form" (ngSubmit)="change()">
                    <c-row>
                        <c-col md="12">
                            <label>Nuevo Password</label>
                            <c-input-group class="input-prepend" >
                                <input cFormControl formControlName="password"  [class.is-invalid]="campoPassword.invalid && campoPassword.dirty" name="password" type="password">
                                <div class="invalid-feedback" *ngIf="campoPassword.hasError('required')">Contraseña Requerida</div>
                                <div class="invalid-feedback" *ngIf="campoPassword.hasError('minlength')">Formato Invalido minimo 8 caracteres</div>
                            </c-input-group>
                        </c-col>
                        <p></p>
                        <c-col md="12">
                            <label>Confirmar Password</label>
                            <c-input-group class="input-prepend">
                                <input cFormControl formControlName="confirmarPassword" name="confirmarPassword" [class.is-invalid]="(confirmarPassword.invalid && confirmarPassword.dirty) || (checarSiSonIguales() && confirmarPassword.dirty)" type="password">
                                <div class="invalid-feedback" *ngIf="confirmarPassword.hasError('required')">Password confirmación requerido</div>
                                <div class="invalid-feedback" *ngIf="checarSiSonIguales()">Password no conciden</div>
                            </c-input-group>
                        </c-col>
                        <p></p>
                        <c-col md="12" class="d-flex justify-content-center">
                            <button cButton type="submit" class="px-4" color="primary" [disabled]="form.invalid || isChange">
                                <span *ngIf="!isChange">Actualizar</span>
                                <span *ngIf="isChange"><i class="fas fa-spinner fa-spin"></i></span>
                            </button>
                        </c-col>
                    </c-row>
                </form>
            </div>
        </div>
    </p-panel>
</div>