<!-- <app-widgets-dropdown></app-widgets-dropdown> -->
<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">
          Trafico Parqueo
        </h4>
        <div class="small text-medium-emphasis">Septiembre - Diciembre 2022</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <button cButton class="float-end" color="primary">
          <svg cIcon name="cilCloudDownload"></svg>
        </button>
      </c-col>
    </c-row>
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Total Clientes</div>
        <strong>{{totalesReport.totalIngreso}} ({{porcentaje.cliente}}%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="success" [value]="porcentaje.cliente"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Total Usuarios</div>
        <strong>{{totalesReport.totalUsuario}} ({{porcentaje.usuario}}%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="info" [value]="porcentaje.usuario"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Total Ganancia</div>
        <strong>S/. {{totalesReport.totalGanacia}} ({{porcentaje.ganancia}}%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="warning" [value]="porcentaje.ganancia"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Ingresos del Dia</div>
        <strong>{{totalesReport.nuevosIngresos}} ({{porcentaje.nuevosIngresos}}%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" [value]="porcentaje.nuevosIngresos"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Total Comprobantes</div>
        <strong>{{totalesReport.totalComprobantes}}  ({{porcentaje.comprobantes}}%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar [value]="porcentaje.comprobantes"></c-progress-bar>
        </c-progress>
      </c-col>
    </c-row>
    <div class="d-flex justify-content-around align-items-center mt-5">
      <div>
        <h6>Ingresos 2022</h6>
        <c-chart [data]="ingresos" (getElementsAtEvent)="getIngresoXmes($event)" [width]="500" [height]="500" type="bar"></c-chart>
      </div>
      <div>
        <h6>Ganancias 2022</h6>
        <c-chart [data]="ganancias" (getElementsAtEvent)="getGananciasXmes($event)" class="m-lg-2" type="line" [width]="600" [height]="500"></c-chart>
      </div>
    </div>
  </c-card-footer>
</c-card>

