<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header class="text-white" style="background-color:  #3399ff; display: flex; justify-content: space-between;">
            <strong>Listado de Usuarios</strong>
            <el-button type="success" (click)="openModal(modalUsuario)" *ngIf="isAdmin" >Nuevo</el-button>
        </c-card-header>
        <c-card-body>
          <div style="display: flex; justify-content: flex-end;">
            <c-row>
              <c-col>
                <input aria-describedby="basic-addon2" aria-label="Recipient&#39;s username" placeholder="Buscar...." [(ngModel)]="textFind" cFormControl/>
              </c-col>
            </c-row>
          </div>
          <p></p>
          <c-card>
          </c-card>
          <table cTable class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" (click)="setOrder('usuario')">Usuario</th>
              <th scope="col" (click)="setOrder('persona.nombre')">Nombres</th>
              <th scope="col">Ver Roles</th>
              <th scope="col">Telefono</th>
              <th scope="col" (click)="setOrder('persona.numeroDocumento')">DNI</th>
              <th scope="col">Dirección</th>
              <th scope="col"></th>
              <th scope="col"><i class="fas fa-sort" (click)="sort()"></i></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="(list | filter: textFind) as result">
              <tr *ngFor="let item of result | filter:textFind; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.user_name}}</td>
                <td>{{item.person.name}}</td>
                <td>
                  <button [cPopover]="popoverHtml"
                  (click)="verRol(item.id)"
                  cPopoverPlacement="right"
                      [cPopoverTrigger]="'click'"
                      cButton
                      class="m-1"
                      color="info"
                      size="sm">
                      <i class="fas fa-eye" style="color: #ffffff;"></i>
                      <ng-template  #popoverHtml>
                        <h3 class="popover-header">
                          Roles Asignados
                        </h3>
                        <div class="popover-body">
                          <div *ngFor="let r of rol">
                            <span cTextColor="dark" style="font-weight: bolder; font-size: 13px;">Rol: <span cTextColor="info" style="font-size: 12px;" class="m-lg-1">{{r.descripcion}}</span></span>
                          </div>
                        </div>
                      </ng-template>
          </button>
                
                </td>
                <td>{{item.person.phone}}</td>
                <td>{{item.person.number}}</td>
                <td>{{item.person.addres}}</td>
                <td>
                  <el-button size="mini" type="primary" icon="edit" *ngIf="isAdmin" (click)="edit(modalUsuario, item.id)"></el-button>
                  <el-button size="mini" type="danger" icon="delete" *ngIf="isAdmin" (click)="delete(item.id)"></el-button>
                </td>
              </tr>
              <!-- <div *ngIf="result.length === 0">
                <i class="fas fa-user-alt-slash fa-3x"></i>
              </div> -->
            </ng-container>
            </tbody>
          </table>
          <c-pagination aria-label="Page navigation example">
            <li cPageItem>
              <a cPageLink [routerLink] (click)="rewind()" style="cursor: pointer;"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <li cPageItem *ngFor="let p of totalPages; let i = index">
              <a cPageLink [routerLink] [ngClass]="{'active': i === page}" (click)="setPage(i)">{{i + 1}}</a>
            </li>
            <li cPageItem>
              <a cPageLink [routerLink] (click)="forward()" style="cursor: pointer;"><span aria-hidden="true">&raquo;</span></a>
            </li>
          </c-pagination>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <ng-template #modalUsuario role="document" let-modal>
    <app-form-users (list)="fetchUsers()" [title]="title" [usuario]="response" [isRol]="isRol"></app-form-users>
  </ng-template>
  