<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header class="text-white" style="background-color:  #3399ff;">
          <strong>Historial Parqueo</strong>
          <div style=" display: flex; justify-content: end; margin-top: -20px;">
            <el-button type="primary">Buscar por Codigo Operacion</el-button>
            <el-button type="success">Nuevo Vehiculo</el-button>
          </div>
        </c-card-header>
        <c-card-body>
            <c-row>
                
                    <ng-container *ngFor="let item of list; let i = index">
                        <div class="widgets" [ngClass]="{'bg-color-active': +item.status === 1, 'bg-color-desabilitado': +item.status === 0}">
                            <div class="widgets-icon">
                                <i class="fas fa-motorcycle" *ngIf="item.type_vehicle.id === 1"></i>
                                <i class="fas fa-truck-moving" *ngIf="item.type_vehicle.id === 2"></i>
                                <i class="fas fa-car-alt" *ngIf="item.type_vehicle.id === 3"></i>
                            </div>
                            <div class="widgets-info">
                                <span class="widgets-info-title">Placa: </span>
                                <span class="widgets-info-value">{{item.license_plate}}</span>
                                <span class="widgets-info-title">Entrada:</span>
                                <span class="widgets-info-value1" style="margin-left: 5px;font-size: 15px;"> {{item.check_in_time}} am</span>
                                <span class="widgets-info-title">Salida:</span>
                                <span class="widgets-info-value1" style="margin-left: 5px;font-size: 15px;">
                                  <span *ngIf="item.departure_time">{{item.departure_time}} pm</span>
                                  <span *ngIf="!item.departure_time">No definido</span>
                                  </span>
                            </div>
                            <div style="display: flex; margin-top: 10px; justify-content: center;">
                                <button class="btn btn-sm btn-info me-2" placement="top" ngbTooltip="Mostrar detalle" style="color: white;" >Detalle</button>
                                <button class="btn btn-sm btn-primary me-2" placement="top" ngbTooltip="Pagar tarifa" style="color: white;" [disabled]="+item.status === 0">Pagar</button>
                            </div>
                       </div>
                    </ng-container>
              </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <!-- <ng-template #modalUsuario role="document" let-modal>
    <app-form-users (list)="fetchUsers()" [title]="title" [usuario]="response"></app-form-users>
  </ng-template>
   -->